<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CadenaDB" value="Data Source=200.69.137.167,11333;Initial Catalog=BD3K7G11_2021;Persist Security Info=True;User ID=BD3K7G11_2021;Password=BDG11_7956"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
</configuration>